i {
	padding: 4px;
	border: 1px solid transparent;
	border-radius: 4px;
}

i:hover {
	cursor: pointer;
}

.fa-floppy-o:hover {
	border: 1px solid white;
}

.fa-trash-o:hover {
	color: red;
	border: 1px solid red;
}