#chordsModal, #spotifyModal {
	display: block;
	background: rgba(0, 0, 0, .5); 
}

.spotifyLogo, .ugLogo {
	width: 100px;
}

.spotifyModalText {
	font-family: sans-serif;
}

.spotifyFooterTitle {
	display: inline;
}

.songInKey {
    margin-bottom: 10px;
    width: 80%;
}

.songInKey h4 {
    display: inline;
}

.close {
	margin-left: 30px;
}